BackEnd/n8n/n8nWorkflow.json
{
  "name": "AI Support Co-Pilot Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - New Ticket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "ticket-created-webhook"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ $env.PYTHON_API_URL }}/process-ticket",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"ticket_id\": \"{{ $json.ticket_id }}\",\n  \"description\": \"{{ $json.description }}\"\n}"
      },
      "id": "http-process-ticket",
      "name": "Process Ticket with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "python-api-auth",
          "name": "Python API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.sentiment }}",
              "operation": "equals",
              "value2": "Negativo"
            }
          ]
        }
      },
      "id": "if-negative-sentiment",
      "name": "Check if Negative",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "fromEmail": "support@vivetori.com",
        "toEmail": "alerts@vivetori.com",
        "subject": " ALERTA: Ticket con Sentimiento Negativo",
        "emailType": "html",
        "text": "=<html>\n<body style=\"font-family: Arial, sans-serif; padding: 20px;\">\n  <h2 style=\"color: #dc2626;\">⚠️ Ticket con Sentimiento Negativo Detectado</h2>\n  \n  <div style=\"background: #fee2e2; border-left: 4px solid #dc2626; padding: 15px; margin: 20px 0;\">\n    <p><strong>ID del Ticket:</strong> {{ $json.ticket_id }}</p>\n    <p><strong>Categoría:</strong> {{ $json.category }}</p>\n    <p><strong>Sentimiento:</strong> <span style=\"color: #dc2626;\">{{ $json.sentiment }}</span></p>\n  </div>\n  \n  <div style=\"background: #f9fafb; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n    <h3>Descripción del Ticket:</h3>\n    <p>{{ $('Webhook - New Ticket').item.json.description }}</p>\n  </div>\n  \n  <p style=\"margin-top: 20px;\">Este ticket requiere atención prioritaria. Por favor, revísalo en el dashboard lo antes posible.</p>\n  \n  <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #e5e7eb;\" />\n  \n  <p style=\"color: #6b7280; font-size: 12px;\">Este es un mensaje automático del sistema AI Support Co-Pilot.</p>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email-alert",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [910, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"text\": \" *Ticket con Sentimiento Negativo*\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🚨 Alerta: Ticket Negativo\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*ID:*\\n{{ $json.ticket_id }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Categoría:*\\n{{ $json.category }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Sentimiento:*\\n❌ {{ $json.sentiment }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Descripción:*\\n{{ $('Webhook - New Ticket').item.json.description }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Ver en Dashboard\"\n          },\n          \"url\": \"{{ $env.DASHBOARD_URL }}\",\n          \"style\": \"danger\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "slack-notification",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 380]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "tickets",
        "filterType": "manual",
        "matchMode": "matchOne",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "operator": "eq",
              "value": "={{ $json.ticket_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "alert_sent",
              "fieldValue": "true"
            },
            {
              "fieldName": "alerted_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "update-supabase",
      "name": "Mark Alert Sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1130, 290],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Ticket procesado exitosamente\",\n  \"ticket_id\": \"{{ $('Process Ticket with AI').item.json.ticket_id }}\",\n  \"category\": \"{{ $('Process Ticket with AI').item.json.category }}\",\n  \"sentiment\": \"{{ $('Process Ticket with AI').item.json.sentiment }}\",\n  \"alert_sent\": {{ $('Check if Negative').item.json.sentiment === 'Negativo' ? 'true' : 'false' }}\n}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "tickets",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldName": "description",
              "fieldValue": "={{ $json.description }}"
            }
          ]
        }
      },
      "id": "supabase-trigger",
      "name": "Supabase Trigger - New Row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [250, 500],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase Account"
        }
      },
      "webhookId": "supabase-new-ticket"
    }
  ],
  "connections": {
    "Webhook - New Ticket": {
      "main": [
        [
          {
            "node": "Process Ticket with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Ticket with AI": {
      "main": [
        [
          {
            "node": "Check if Negative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Negative": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Alert": {
      "main": [
        [
          {
            "node": "Mark Alert Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Notification": {
      "main": [
        [
          {
            "node": "Mark Alert Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Alert Sent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Trigger - New Row": {
      "main": [
        [
          {
            "node": "Process Ticket with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-01-21T00:00:00.000Z",
  "versionId": "1"
}